body {
  background-color: rgba(60, 60, 60, 1);
  color: rgba(220, 220, 220, 1);
  font-family: 'K2D', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  background: url('https://www.wallpapersbrowse.com/images/ih/ihkw4i1.jpg') no-repeat;
  background-color: rgba(146, 146, 146, 1);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  border-radius: 0 0 1em 1em;
}

.main-title {
  margin: .5em 0;
  font-size: 3em;
  font-weight: 500;
}

.main-container {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.color-palette {
  display: flex;
  height: 40em;
  width: 100%;
}

.main-color {
  width: inherit;
  margin: 0 .5em;
  border: .15em solid rgba(22, 22, 22, 1);
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.unlocked {
  margin: 1em 0;
  width: 3em;
  height: 3em;
  background: url(../images/unlocked.svg) no-repeat;
}

.locked {
  margin: 1em 0;
  width: 3em;
  height: 3em;
  background: url(../images/locked.svg) no-repeat;
}

.color-1 {
  background-color: rgb(46, 48, 167);
}

.color-2 {
  background-color: rgb(175, 57, 100);
}

.color-3 {
  background-color: rgb(167, 42, 42);
}

.color-4 {
  background-color: rgb(214, 193, 56);
}

.color-5 {
  background-color: rgb(93, 175, 15);
}

.current-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.palette-color {
  padding: .2em 0;
  margin: .2em;
  width: 5em;
  text-align: center;
  border-radius: .5em;
}

.info-section {
  margin-left: 1em;
  border: .15em solid rgb(30, 144, 255);
  border-radius: 1em;
  padding: 1em;
  background-color: rgba(22, 22, 22, 1);
}

.info-section h2 {
  margin-bottom: .5em;
  font-size: 1.2em;
  border-bottom: .08em solid rgb(30, 144, 255);
}

.user-input-section {
  margin: 1em 0;
}

.user-input-section h3 {
  margin-bottom: .5em;
  font-size: 1.2em;
  border-bottom: .08em solid rgb(30, 144, 255);
}

.user-input-form {
  display: flex;
  flex-direction: column;
}

.user-input-form input {
  margin: .2em 0;
  border: .1em solid rgb(90, 90, 90);
  background-color: rgb(22, 22, 22);
  font-size: 1.2em;
  text-indent: 1%;
  border-radius: .3em;
}

.user-input-form input:hover {
  border: .1em solid rgb(30, 144, 255);
  transition: 0.6s;
}

.user-input-form input::placeholder {
  color: rgb(90, 90, 90);
  font-family: 'K2D', sans-serif;
}

.user-input-form input:focus {
  background-color: rgb(125, 190, 255);
  border: .1em solid rgb(30, 144, 255);
  transition: 0.6s;
  outline: none;
}

.user-input-form button {
  margin-top: .5em;
  width: fit-content;
  align-self: center;
  background-color: rgb(22, 22, 22);
  border: .15em solid rgb(90, 90, 90);
  font-family: 'K2D', sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: rgb(90, 90, 90);
  border-radius: .5em;
  outline: none;
}

.user-input-form button:hover {
  background-color: rgb(125, 190, 255);
  border: .15em solid rgb(30, 144, 255);
  color: rgb(90, 90, 90);
  transition: 0.6s;
}